@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Comfortaa&family=Inter:wght@600&family=Lobster&family=Lora:ital@1&family=Merriweather:ital,wght@1,300&family=Mulish&family=Pacifico&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/cat6.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 100vh;
    animation: change 10s infinite ease-in-out;
    font-family: 'Bricolage Grotesque', sans-serif;
}

@keyframes change {
    0% {
        background-image: url('./images/cat1.avif');
    }

    20% {
        background-image: url('./images/cat2.avif');
    }

    40% {
        background-image: url('./images/cat3.avif');
    }

    60% {
        background-image: url('./images/cat4.avif');
    }

    80% {
        background-image: url('./images/cat5.avif');
    }

    100% {
        background-image: url('./images/cat6.avif');
    }

}

.facts {

    border: 4px solid yellow;

    background-color: rgba(12, 8, 248, 0.6);
    backdrop-filter: blur(0.5);
    width: 300px;
    height: 415px;
    position: relative;
    left: 23px;
    top: 198px;
    border-radius: 50%;

}


.head-fact {
    width: 186px;
    position: relative;
    left: 52px;
    top: 46px;
    /* justify-content: center; */
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 28px;
}






/* .grid-system {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #2196F3; */
/* row-gap: 1.4rem;
    position: relative;
    column-gap: 0.4rem;
    left: 34px;
    margin: 100px 250px;
} */


/* .card {
    padding: 2rem;
    border: 1px solid white;
    width: 276px;
    height: 304px;
    /* background-color: aqua; */
/* } */

.heading {
    text-align: center;
    color: yellow;
    position: relative;
    left: 235px;
    top: 20px;
    font-size: 60px;
    text-shadow: 3px 3px 6px blue;
}

.para {
    text-align: center;
    color: aqua;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}